.SideBar {
  height: 100vh;
  width: 18%;
  background-color: white;
  border-right: 1px solid #dbdbdb;
  display: flex;
  flex-direction: column;

  .Header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    // background-color: #0d062d;
    // width:80%;
    padding-top: 1rem;
    padding-bottom: 1.1rem;
    height: 2.5rem;
    color: #0d062d;
    font-size: 1.25rem;
    font-weight: 600;
    padding-left: 0.75rem;
    border-bottom: 1px solid #dbdbdb;
    .ToggleButton {
      justify-self: flex-end;
      display: flex;
      flex-direction: row;
      gap: 0.5px;
      background-color: white;
      color: #787486;
      border: 0;
      width: 1rem;
      height: 2rem;
    }
  }
  .Items {
    display: flex;
    flex-direction: column;
    color: #787486;
    align-self: center;
    width: 90%;
    border-bottom: 1px solid #dbdbdb;
    // background-color: black;
    margin-top: 0.625rem;
    margin-bottom: 0.625rem;
    font-family: Inter;
    font-weight: 500;
    .Item {
      display: flex;

      padding-top: 0.938rem;
      padding-bottom: 0.938rem;
      flex-direction: row;
    }
  }
  .Projects {
    display: flex;
    align-self: center;
    align-items: center;
    flex-direction: column;
    width: 85%;
    // background-color: green;
    .ProjectsHeader {
      display: flex;
      flex-direction: row;
      width: 100%;
      justify-content: space-between;
      color: #787486;
      font-size: 0.75rem;
      font-weight: 700;
      text-transform: uppercase;
    }
    .ProjectItems{
      display: flex;
      flex-direction: column;
      align-items: center;
      color: black;
      font-size: 1rem;
      margin-top: 1rem;
      // background-color: #0D062D;
      width: 100%;
      object-fit: cover;
      
      .Selected{
        display: flex;
        flex-direction: row;
        align-items: center;
        color:#0D062D;
        font-weight: 600;
        border-radius: 6px;
        background: rgba(80, 48, 229, 0.08);
        width: 105%;
        height: 2.4375rem;
      }
      .RemainingItems{
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-top: 0.2rem;
        color:#787486;
        font-weight: 500;
        width: 105%;
        height: 2.4375rem;
      }
    }
  }
}
